{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>retrive</title>
{% endblock %}

{% block content %}
        <h1><b><u><center>USER RETRIVAL FORM</center></u></b></h1>
            <div class = 'container'>
                <table class="table table-success table-striped border border-dark border border-5">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>ACTIVATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                            <tr>
                                <td>{{record.name}}</td>
                                <td>{{record.email}}</td>
                                <td>
                                    <a href="{% url 'uupdate_url' record.id %}"><button class="btn-warning btn-sm me-3">UPDATE</button></a>
                                    <a href="{% url 'udelete_url' record.id %}"><button class="btn-danger btn-sm me-3">DELETE</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}

